form{
	color: #7a6850;
}
form #logo{
	margin: 45px auto 30px;
}
form input[type="checkbox"]{
	display: inline-block;
}
form input[type="email"]{
	background-color: #f36a22;
	border: none;
	color: #7a6850;
}
form .slider-handle{
	background-color: #6f6f6f;
}
#selector{	 
	height: 150px;
	white-space: nowrap;
	overflow-x: scroll;
    overflow-y: hidden;
}

#selector img{
	height: 120px;
	margin:5px;
}

#closet{
	white-space: nowrap;
	overflow-x: scroll;
    overflow-y: hidden;
}
#closet div{
	display: inline-block;
}
